* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: antiquewhite;
    width: 100%;
    min-height: 100vh;
}

.layout {
    display: flex;
}

.main {
    padding: 100px 20px 100px 260px;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgb(116, 86, 46);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 35px;
    position: fixed;
    left: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.burger-menu {
    background-color: rgb(199, 173, 139);
    border: none;
}

.burger-menu img {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
    transition: all 0.3s ease-in-out;
}

.sidebar.close-sidebar {
    transform: translateX(-100%);
}

.burger-menu.toggle-btn{
   position: absolute;
   right: -60px;
   top: 20px;
}

.main.toggle-content {
    padding-left: 20px;
}

.period-box {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid rgb(199, 173, 139);;
}

.sidebar__title {
    font-size: 32px;
}

.period-box select {
    width: 70%;
    height: 28px;
    border-radius: 12px;
    background-color: rgb(199, 173, 139);
    font-size: 15px;
    padding-left: 8px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: #FFF;
    font-size: 32px;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.nav-menu .active-project,
.nav-menu .active-empl {
    background-color: rgba(199, 173, 139, 0.5);
    border-left: 6px solid rgb(49, 36, 19);
}

.nav-menu:hover a,
.period-box select:hover{
    background-color: rgba(199, 173, 139, 0.5);
}

.project-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
}

.btn__add {
    margin-right: 20px;
}

.btn {
    padding: 12px;
    border-radius: 12px;
    background-color: cadetblue;
    border: none;
    color: #FFF;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
background-color: rgb(43, 102, 104);
}

.table {
    width: 100%;
    margin-bottom: 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    border: none;
}

.table-header th {
    background-color: rgb(116, 86, 46);
    color: #FFF;
    padding: 8px;
    text-align:left;
    cursor: pointer;
}

.table-header th:hover {
    background-color: rgb(116, 86, 46, 0.5);
}

.total {
    font-size: 23px;
    font-weight: 600;
}

.income-val {
    color: cadetblue;
}

/* Форма */
.form-hidden {
    position: fixed;
    z-index: 10;
    right: 0;
    top: 0;
    max-width: 350px;
    width: 100%;
    min-height: 100vh;
    background-color: #FFF;
    box-shadow: 4px 0px 15px 0px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transform: translateX(100%);
    transition: all 0.3s ease-in-out;
}

.form-hidden.openForm {
    display: block;
    transform: translateX(0);
}

.form-title {
    font-size: 32px;
    margin-bottom: 40px;
    border-bottom: 2px solid #554b4b;
    color: #554b4b;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    color: #554b4b;
    font-size: 18px;
}

.form-input input,
.form-input select {
    padding: 7px;
}

.form-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.form-btn button {
    padding: 10px 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #FFF;
}

.error-msg {
    display: block;
    color: red;
    font-size: 12px;
    min-height: 15px;
}

.form-add:disabled {
    background: #ccc;
    cursor: not-allowed;
}

.form-add {
    background-color: cadetblue;
}

.form-cancel {
    background-color: red;
}

.table-body td {
    padding: 10px;
    font-size: 24px;
}

.actions-cell {
    display: flex;
    gap: 5px;
    flex-direction: column; /* Кнопки в столбик, как на скрине */
}

.btn-avail { 
    background-color: #a855f7; 
    color: white; border: none; 
    padding: 5px; 
    border-radius: 4px; 
    cursor: pointer; 
}

.btn-assign { 
    background-color: #3b82f6; 
    color: white; 
    border: none; 
    padding: 5px; 
    border-radius: 4px; 
    cursor: pointer; 
}

.btn-delete { 
    background-color: #ef4444; 
    color: white; 
    border: none; 
    padding: 5px; 
    border-radius: 4px; 
    cursor: pointer; 
}

.btn-avail:hover, 
.btn-assign:hover, 
.btn-delete:hover { 
    opacity: 0.8; 
}